<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="container">
    <ion-item class="login-key-input" lines="full" >
      <ion-label position="floating">Key</ion-label>
      <ion-input aria-label="private key" [(ngModel)]="private_key" type="text"  required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col class="login-btn-container">
        <ion-button type="submit" color="primary" expand="block" (click)="login()">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>