<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-title>Contacts</ion-title>
      <ion-button  (click)="goToDiscussionList()" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="new-discussion-input">
    <ion-label position="floating">Search</ion-label>
    <ion-input [(ngModel)]="search" (ngModelChange)="onTextChange($event)"></ion-input>
  </ion-item>
<app-contact-list [contacts]="filteredContacts" (contactSelected)="goToContactDetails($event)"></app-contact-list>
<button class="new-contact-button" (click)="addNewContact()"> <ion-icon name="person-add"></ion-icon></button>
</ion-content>
