<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
    <ion-title>new-discussion</ion-title>
    <ion-button  (click)="goToDiscussionList()" slot="start"> <ion-icon name="arrow-back-outline"></ion-icon> </ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="newDiscussionTarget"></ion-input>
    <ion-button (click)="createDiscussion()" slot="end"> <ion-icon name="add-outline"></ion-icon> </ion-button>
  </ion-item>
</ion-content>
