<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="goToContactList()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name *</ion-label>
      <ion-input [(ngModel)]="contact.name" name="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Public key *</ion-label>
      <ion-input [(ngModel)]="contact.publicKey" name="publicKey" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        
        <ion-select placeholder="Network" class="network-select" [(ngModel)]="contact.networks" type="text" [multiple]="true">
          <ion-select-option *ngFor="let network of predefinedNetworks" [value]="network">{{network}}</ion-select-option>
        </ion-select>
      </ion-list>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addContact()">Add Contact</ion-button>
</ion-content>
